@import https: //fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=latin-ext;
body * {
    margin: 0;
    padding: 0
}

html {
    font-size: 14px
}

body {
    font-family: Open Sans, Arial, sans-serif
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4
 {
    font-family: Lato, Arial, sans-serif
}

::-webkit-input-placeholder       {font-size: inherit; color: inherit; font-weight: normal;opacity: .6; transition: opacity 0.3s ease;}
::-moz-placeholder                {font-size: inherit; color: inherit; font-weight: normal;opacity: .6; transition: opacity 0.3s ease;}
:-moz-placeholder                 {font-size: inherit; color: inherit; font-weight: normal;opacity: .6; transition: opacity 0.3s ease;}
:-ms-input-placeholder            {font-size: inherit; color: inherit; font-weight: normal;opacity: .6; transition: opacity 0.3s ease;}
:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
:focus::-moz-placeholder          {opacity: 0; -moz-transition: opacity 0.3s ease;}
:focus:-moz-placeholder           {opacity: 0; -moz-transition: opacity 0.3s ease;}
:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.flexbox {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.flexbox:after,
.flexbox:before {
    display: none
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0
}

.title-block {
    font-size: 48px;
    font-weight: 600
}

.mainPageHeader #logo {
    float: left;
    background: url(../img/Logo.png) no-repeat;
    background-size: cover;
    margin-left: 6%
}

.navbar-inverse .navbar-toggle {
    background: transparent!important;
    border: none!important;
    outline: none!important
}

.navbar-inverse .navbar-toggle .icon-bar {
    background: #1eacf8;
    height: 3px;
    width: 30px;
    display: block;
    -webkit-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s
}

.navbar-inverse .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 5px
}

button.navbar-toggle[aria-expanded="true"] {
    position: relative
}

button.navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 1px
}

button.navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0 0 0 1px;
    height: 1px
}

button.navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(3) {
    display: none!important
}

.navbar,
.navbar-inverse {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 80px
}

.nav li {
    display: inline;
    color: #fff
}

.nav {
    padding-right: 3%
}

.navbar {
    background: #fff;
    margin-top: 1%;
    margin-bottom: .7%
}

.navbar-inverse .navbar-nav>li>a:focus {
    color: #0d58b0
}

.navbar-inverse .navbar-nav>li>a {
    color: #0d58b0;
    font-size: 12.1px;
    font-weight: 600;
    padding: 26px 8px 0!important;
    text-transform: uppercase
}

.navbar-inverse .navbar-nav li a:hover {
    color: #0d58b0
}

.navbar-nav {
    float: right
}

.navbar-header button {
    margin-top: 2.83%;
    margin-right: 4.73%
}

.mainPageHeader .navbar-nav li {
    padding: 0 20px
}

.mainPageHeader .navbar-nav li a {
    padding: 0
}

.mainPageHeader .navbar-nav .current-menu-item a,
.mainPageHeader .navbar-nav li a:hover {
    border-bottom: 1px solid #0d57af
}

.container-baner {
    height: 100vh;
    padding-top: 106px;
    margin-top: -106px;
    min-height: 600px
}

.picture {
    position: relative;
    height: 100%;
    background-image: : url(/wp-content/uploads/2018/02/shutterstock_473165011-2500x1656.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover
}

.mainPic img {
    width: 100%;
    height: auto;
    display: none
}

.frontColor {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: cover;
    background: -moz-linear-gradient(left, rgba(30, 172, 249, 0.8) 0%, rgba(13, 88, 176, 0.8) 100%);
    background: -webkit-linear-gradient(left, rgba(30, 172, 249, 0.8) 0%, rgba(13, 88, 176, 0.8) 100%);
    background: linear-gradient(to right, rgba(30, 172, 249, 0.8) 0%, rgba(13, 88, 176, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc1eacf9', endColorstr='#cc0d58b0', GradientType=1)
}

.frontText {
    font-size: 48px;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 45px;
    line-height: 1.3;
    font-family: Lato, sans-serif;
    font-weight: 300
}

.officeFoto {
    background: #f3f8fb;
    margin-bottom: 130px;
    overflow: hidden
}

.twiceBlock {
    position: relative
}

.twiceBlock .col-img {
    width: 60%;
    position: relative
}

.twiceBlock .col-img:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 70px;
    width: 175px;
    height: 154px;
    background: url(../img/rd.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 1
}

.twiceBlock .col-md-6 {
    padding-right: 0;
    padding-left: 0;
    overflow: hidden
}

.twiceBlock .col-img {
    overflow-y: hidden
}

.twiceBlock .col-img img {
    width: 100%;
    height: auto;
    min-width: 600px;
    position: relative
}

.twiceBlock .rightText {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.7;
    color: #78797b;
    margin: auto;
    width: 80%;
    max-width: 475px
}

.twiceBlock .rightText h2 {
    color: #1b75ba;
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    padding-bottom: 1.6rem;
    font-size: 48px;
}

.luckyBlock {
    background: url(../img/FonZnack.png) no-repeat top center;
    margin-bottom: 10rem;
    min-height: 600px;
    margin-bottom: 45px
}

.luckyBlock>.container {
    width: 100%;
    max-width: 1170px
}

.luckyBlock h1,
.luckyBlock .h1 {
    position: relative;
    left: 0;
    top: 1rem;
    text-align: center;
    margin-bottom: 101px
}

.luckyBlock .luckyItems {
    position: relative;
    padding-top: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.luckyBlock .luckyItems .num {
    width: 326px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.luckyItems .luckyItem-1 .img img {
    margin-left: 90px
}

.luckyItems .luckyItem-3 .img img {
    margin-left: 122px
}

.luckyItems .num .img {
    margin-bottom: 75px;
    height: 115px;
    height: 130px
}

.luckyItems .num img {
    display: block;
    margin: 0 auto
}

.luckyItems .num .luckyItem-text {
    flex: 2;
    height: 100%;
    width: auto;
    margin: 0 10px;
    padding: 15px;
    background: -moz-linear-gradient(top, rgba(1, 23, 121, 0.04) 0%, rgba(30, 172, 249, 0.04) 100%);
    background: -webkit-linear-gradient(top, rgba(1, 23, 121, 0.04) 0%, rgba(30, 172, 249, 0.04) 100%);
    background: linear-gradient(to bottom, rgba(1, 23, 121, 0.04) 0%, rgba(30, 172, 249, 0.04) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a011779', endColorstr='#0a1eacf9', GradientType=0);
    font-weight: 300;
    font-size: 20px;
    color: #6d6e70;
}

.luckyItems .num .luckyItem-text p {
    margin: 0;
    padding: 0;
    background: none
}

.oneString {
    background: #1eacf9;
    background: -moz-linear-gradient(top, rgba(30, 172, 249, 1) 0%, rgba(17, 109, 194, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(30, 172, 249, 1) 0%, rgba(17, 109, 194, 1) 100%);
    background: linear-gradient(to bottom, rgba(30, 172, 249, 1) 0%, rgba(17, 109, 194, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1eacf9', endColorstr='#116dc2', GradientType=0)
}

.oneString h2 {
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 190px;
    padding: 0;
    margin: 0
}

.block-work-with .row_ {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.block-work-with .row_ .itm-ww {
    width: 100%;
    position: relative;
    overflow: hidden
}

.block-work-with .row_ .itm-ww .textPhoto {
    position: absolute;
    bottom: 0;
    z-index: 2;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    left: 0;
    width: 100%;
    line-height: 51px;
    text-align: center
}

.block-work-with .row_ .itm-ww .textPhoto>div {
    position: relative;
    z-index: 2;
    width: 50%;
    margin: 0 auto;
    padding: 20px 15px;
    min-width: 11em
}

.block-work-with .row_ .itm-ww .textPhoto:after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background: #2E3545;
    opacity: .43
}

.twoPhoto img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: -2px
}

.underLine {
    background-color: #1b75b9;
    height: 15px;
    width: 100%
}

.bridgeOnFon {
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center
}

.bridgeOnFon:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.83) url(../img/whiteFonBg-2.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}

.bridgeOnFon__inner {
    margin: auto;
    margin-left: 10%
}

.bridgeOnFon .row {
    min-height: 720px
}

.bridgeOnFon img {
    width: 100%;
    height: auto
}

.bridgeOnFon__inner {
    margin: auto;
    margin-left: 0;
    z-index: 1
}

.bridgeOnFon h2 {
    font-weight: 600;
    color: #1b75ba;
    margin-bottom: 44px;
    white-space: nowrap
}

.bridgeTextOne {
    line-height: 1.4;
    font-weight: 300;
    font-size: 20px;
    color: #6d6e70
}

.bridgeTextOne p {
    margin-top: 26px
}

.mapWorld {
    position: relative;
    width: 1280px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    margin-bottom: 55px
}

.map-wrap {
    width: 100%;
    overflow: hidden
}

.map__img {
    position: relative;
    width: 1280px;
    padding-bottom: 50px
}

.mapWorld img {
    width: 94%;
    height: auto
}

.map__inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.mapWorld h3 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px
}

.parent {
    padding-top: 190px;
    height: 470px;
    margin-bottom: 50px
}

.parent .item {
    float: left;
    width: 190px
}

.parent .item.item_1 {
    margin-left: 70px
}

.parent .item.item_2 {
    margin-left: 115px
}

.parent .item.item_3 {
    margin-left: 93px;
    width: auto
}

.parent .item span {
    font-size: 70px;
    color: #0f60b7;
    font-weight: 100;
    background: -moz-linear-gradient(top, rgba(30, 172, 249, 1) 0%, rgba(13, 88, 176, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(30, 172, 249, 1) 0%, rgba(13, 88, 176, 1) 100%);
    background: linear-gradient(to bottom, rgba(30, 172, 249, 1) 0%, rgba(13, 88, 176, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1eacf9', endColorstr='#0d58b0', GradientType=0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.parent .item h4 {
    font-size: 20px;
    color: #2e3545;
    font-weight: 900;
    padding-bottom: 10px
}

.parent .item p {
    color: #6d6e70;
    font-size: 14px;
    font-weight: 300
}

.onMapSec {
    float: left;
    margin-left: 371px
}

.onMapSec h2 {
    font-weight: 900;
    font-size: 2.3rem;
    color: #1b75ba;
    margin-top: 0;
    padding-bottom: 15px
}

.onMapSec p {
    font-size: 1rem;
    font-weight: 300;
    color: #6d6e70
}

.block-parthners {
    padding: 90px 0;
    background: #f8f8f8;
    border-bottom: 1px solid #7dcdf8
}

.block-parthners .list {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.parthner-item {
    width: 100%
}

.parthner-item+.parthner-item {
    border-left: 1px solid #7dcdf8
}

.parthner-item img {
    margin: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto
}

.btnBlock {
    position: relative;
    height: 477px;
    background-image: url(http://t1.svl.in.ua/wp-content/themes/befrees/img/fonBtn.png);
    background-size: cover;
    padding-top: 1px;
}

.btnBlock:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(185, 187, 189, 0.75) url(../img/underBtn.png) no-repeat;
    z-index: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover
}

.hww-inner {
    position: absolute;
    width: 800px;
    left: 50%;
    height: 100%;
    max-height: 100%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    max-width: 100%;
    z-index: 1
}

.btnBlock h2 {
    font-weight: 500;
    color: #fff;
    left: 0;
    padding-top: 31px;
    width: 100%;
    text-align: center;
    position: static;
    margin-bottom: 106px
}

.btnBlock a {
    font-family: lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .15);
    position: relative;
    padding: 0;
    width: 220px;
    max-width: 100%;
    text-align: center;
    line-height: 42px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 8px;
    background: #1eacf9;
    background: -moz-linear-gradient(top, rgba(30, 172, 249, 1) 0%, rgba(13, 89, 176, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(30, 172, 249, 1) 0%, rgba(13, 89, 176, 1) 100%);
    background: linear-gradient(to bottom, rgba(30, 172, 249, 1) 0%, rgba(13, 89, 176, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1eacf9', endColorstr='#0d59b0', GradientType=0);
    margin: 0 auto 24px;
    display: block
}

.btnBlock a:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    bottom: -1px;
    left: 0;
    position: absolute;
    box-shadow: 0 0 11px 2px rgba(255, 255, 255, 0.2)
}

.btnBlock a:hover {
    background: #1da9f6;
    background: -moz-linear-gradient(top, rgba(29, 169, 246, 1) 0%, rgba(13, 89, 176, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(29, 169, 246, 1) 0%, rgba(13, 89, 176, 1) 100%);
    background: linear-gradient(to bottom, #1968ba 0%, #1685d7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1da9f6', endColorstr='#0d59b0', GradientType=0)
}

.btnBlock a:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset
}

.btnBlock .caption-btn {
    color: #fff;
    font-size: 20px;
    font-family: Open Sans, Arial, sans-serif;
    font-weight: 300;
    display: block;
    text-align: center;
    margin-bottom: 7px
}

.btnBlock .arrDown {
    text-align: center;
    transform: rotate(180deg);
    fill: #fff;
    margin: 0 auto
}

.btnBlock .arrDown>svg {
    height: 25px
}

footer {
    background-color: #ebeff0
}

.footer-top {
    padding-top: 65px;
    padding-bottom: 65px;
    font-size: 15px
}

.logo-footer {
    margin-bottom: 20px
}

.page-id-16 .downForm .border input,
.page-id-16 .downForm .border textarea {
    border-bottom: none!important
}

.allInfo {
    margin-top: 3.8rem
}

.aboutInfo .polosa {
    width: 101%;
    margin: 1.7rem 0
}

.allInfo ul,
.footer-menu-box ul {
    display: inline-block;
    list-style: none
}

.allInfo .adres {
    margin-top: 2.5rem
}

.footer-menu-box ul li {
    margin-bottom: 5px
}

.allInfo ul li a,
.footer-menu-box ul li a {
    color: #9b9d9f;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300
}

.allAdres {
    color: #9b9d9f;
    font-weight: 300
}

.allAdres .contacts {
    margin-bottom: 1em
}

.allAdres .contacts:after {
    content: '';
    display: block;
    height: 1px;
    width: 65px;
    background: #1eacf8;
    margin-top: 1em
}

.downForm {
    margin-top: 3.6rem;
    margin-bottom: 7.36rem
}

.downForm p {
    margin: 0
}

.downForm input {
    width: 100%;
    margin-top: 1.4rem;
    border: none
}

.downForm .border {
    border-bottom: 2px solid #1eacf8
}

.downForm textarea {
    margin-top: 1.4rem;
    border: none;
    width: 100%;
    height: 100px;
    resize: none;
    padding: 5px 15px
}

.downForm [type=submit] {
    position: relative;
    width: auto;
    float: right;
    text-transform: uppercase;
    padding: 1px 38px;
    border-radius: 5px;
    margin-top: .5rem;
    color: #fff;
    width: 95px;
    height: 20px;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em #999;
    background-image: -ms-linear-gradient(top, #1EACF9 0%, #116dc2 100%);
    background-image: -moz-linear-gradient(top, #1EACF9 0%, #116dc2 100%);
    background-image: -o-linear-gradient(top, #1EACF9 0%, #116dc2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1EACF9), color-stop(100, #116dc2));
    background-image: -webkit-linear-gradient(top, #1EACF9 0%, #116dc2 100%);
    background-image: linear-gradient(to bottom, #1EACF9 0%, #116dc2 100%)
}

.downForm [type=submit]:hover {
    background: #1da9f6;
    background: -moz-linear-gradient(top, rgba(29, 169, 246, 1) 0%, rgba(13, 89, 176, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(29, 169, 246, 1) 0%, rgba(13, 89, 176, 1) 100%);
    background: linear-gradient(to bottom, #1968ba 0%, #1685d7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1da9f6', endColorstr='#0d59b0', GradientType=0)
}

.downForm [type=submit]:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset
}

.styleInp {
    color: #cdcecf;
    padding: .4rem 1rem
}

.copy {
    padding: 10px;
    color: #b3b5b7;
    font-size: 10px
}

.frontFoto {
    height: 771px;
    width: 100%;
    background-image: url(../img/frontFoto.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.frontFoto .color {
    background: #38a8e6;
    background: -moz-linear-gradient(left, rgba(56, 168, 230, 0.7) 0%, rgba(11, 73, 143, 0.8) 100%);
    background: -webkit-linear-gradient(left, rgba(56, 168, 230, 0.7) 0%, rgba(11, 73, 143, 0.8) 100%);
    background: linear-gradient(to right, rgba(56, 168, 230, 0.7) 0%, rgba(11, 73, 143, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38a8e6', endColorstr='#0b498f', GradientType=1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.frontFoto .right-color-block {
    position: absolute;
    padding: 120px 65px;
    top: 50%;
    margin-left: 65px;
    left: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 60px;
    line-height: 1.17;
    font-weight: 100;
    color: #fff;
    font-family: lato
}

.frontFoto .move {
    color: #fff;
    font-weight: 300;
    font-size: 4.3rem;
    line-height: 1.1;
    padding: 58px 100px 110px 90px;
    font-family: Lato, sans-serif
}

.frontFoto .move p {
    text-align: center
}

.aboutBlock {
    height: auto;
    background: #f8f8f8
}

.aboutBlock .inner {
    background: #fff;
    margin-top: -51px;
    margin-bottom: 73px
}

.aboutBlock h1 {
    color: #1b75ba;
    font-size: 48px;
    font-weight: 600;
    padding: 41px 0 25px;
    text-align: center
}

.aboutBlock .content {
    color: #6d6e70;
    font-weight: 300;
    font-size: 20px;
    padding: 25px 65px 38px 77px
}

.inner p {
    margin-bottom: 1.5em
}

.downForm [type=submit] {
    width: auto;
    float: right;
    font-size: 11px;
    height: 20px;
    text-transform: uppercase;
    padding: 2px 30px;
    border-radius: 3px;
    margin-top: .5rem;
    color: #fff;
    background-image: -ms-linear-gradient(top, #1EACF9 0%, #116dc2 100%);
    background-image: -moz-linear-gradient(top, #1EACF9 0%, #116dc2 100%);
    background-image: -o-linear-gradient(top, #1EACF9 0%, #116dc2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1EACF9), color-stop(100, #116dc2));
    background-image: -webkit-linear-gradient(top, #1EACF9 0%, #116dc2 100%);
    background-image: linear-gradient(to bottom, #1EACF9 0%, #116dc2 100%)
}

.frontFoto2 {
    height: 770px;
    width: 100%;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.frontFoto2 .gra {
    position: relative;
    top: 0;
    left: 0;
    width: 100%
}

.frontFoto2 .color2 {
    background: #38a8e6;
    background: -moz-linear-gradient(left, rgba(56, 168, 230, 0.7) 0%, rgba(11, 73, 143, 0.8) 100%);
    background: -webkit-linear-gradient(left, rgba(56, 168, 230, 0.7) 0%, rgba(11, 73, 143, 0.8) 100%);
    background: linear-gradient(to right, rgba(56, 168, 230, 0.7) 0%, rgba(11, 73, 143, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38a8e6', endColorstr='#0b498f', GradientType=1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.frontFoto2 .blueText {
    color: #fff;
    font-weight: 300;
    font-size: 4.3rem;
    padding: 72px 0;
    text-align: center;
    line-height: 1.3
}

.approachBlock .headItem h1 {
    color: #2e3545;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    padding: 60px 0 45px
}

.approachBlock .headItem div {
    font-weight: 300;
    font-size: 22px;
    color: #6d6e70;
    text-align: center;
    padding-bottom: 51px
}

.approachBlock .childItem {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    padding-bottom: 54px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
}

.approachBlock .childItem:after {
    content: '';
    display: block;
    border-bottom: 2px solid #1eacf8;
    max-width: 194px;
    width: 100%;
    padding-top: 21px
}

.approachBlock .childItem figure {
    height: 80px
}

.approachBlock .childItem figure:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: bottom
}

.approachBlock .childItem h3 {
    color: #1b75ba;
    font-size: 25px;
    font-weight: 900;
    padding-top: 17px;
    margin-bottom: 6px
}

.approachBlock .childItem div {
    font-weight: 300;
    font-size: 18px;
    color: #6d6e70;
    padding-top: 10px;
    line-height: 28px
}

.parBlock {
    margin-bottom: 30px
}

.parBlock .last .childItem:after {
    content: '';
    display: none;
    border-bottom: 2px solid #1eacf8
}

.clear {
    clear: both
}

.btnBlock2 {
    position: relative;
    height: 472px;
    background-image: url(../img/fonBtnn.png);
    background-size: cover;
    background-repeat: no-repeat
}

.btnBlock2 .hww-inner {
    position: absolute;
    width: 800px;
    left: 50%;
    height: 100%;
    max-height: 100%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    max-width: 100%
}

.btnBlock2 h2 {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    left: 0;
    padding-top: 55px;
    width: 100%;
    text-align: center;
    position: static;
    margin-bottom: 113px
}

.btnBlock2 a {
    font-family: lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .15);
    position: relative;
    padding: 0;
    width: 270px;
    max-width: 100%;
    text-align: center;
    line-height: 42px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 8px;
    background: #1eacf9;
    background: -moz-linear-gradient(top, rgba(30, 172, 249, 1) 0%, rgba(13, 89, 176, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(30, 172, 249, 1) 0%, rgba(13, 89, 176, 1) 100%);
    background: linear-gradient(to bottom, rgba(30, 172, 249, 1) 0%, rgba(13, 89, 176, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1eacf9', endColorstr='#0d59b0', GradientType=0);
    margin: 0 auto 12px;
    display: block
}

.btnBlock2 a:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    bottom: -1px;
    left: 0;
    position: absolute;
    box-shadow: 0 0 11px 2px rgba(255, 255, 255, 0.2)
}

.btnBlock2 .div {
    color: #fff;
    font-size: 20px;
    font-family: Open Sans, Arial, sans-serif;
    font-weight: 300;
    display: block;
    text-align: center;
    margin-bottom: 7px
}

.btnBlock2 .arrDown {
    text-align: center;
    transform: rotate(180deg);
    fill: #fff;
    margin: 0 auto
}

.btnBlock2 .arrDown>svg {
    height: 25px
}

.frontFoto3 {
    height: 771px;
    width: 100%;
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center
}

.frontFoto3 .gra {
    position: relative;
    top: 0;
    left: 0;
    width: 100%
}

.frontFoto3 .color3 {
    background: #38a8e6;
    background: -moz-linear-gradient(left, rgba(56, 168, 230, 0.7) 0%, rgba(11, 73, 143, 0.8) 100%);
    background: -webkit-linear-gradient(left, rgba(56, 168, 230, 0.7) 0%, rgba(11, 73, 143, 0.8) 100%);
    background: linear-gradient(to right, rgba(56, 168, 230, 0.7) 0%, rgba(11, 73, 143, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38a8e6', endColorstr='#0b498f', GradientType=1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.frontFoto3 .smile {
    color: #fff;
    font-weight: 300;
    font-size: 64px;
    font-weight: 300;
    font-family: lato, sans-serif
}

.contactBlock {
    position: relative
}

.contactBlock .img {
    width: 100%;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    background: #a4adb7;
    background: -moz-linear-gradient(top, rgba(164, 173, 183, 0.4) 0%, rgba(127, 161, 186, 0.2) 100%);
    background: -webkit-linear-gradient(top, rgba(164, 173, 183, 0.4) 0%, rgba(127, 161, 186, 0.2) 100%);
    background: linear-gradient(to bottom, rgba(164, 173, 183, 0.4) 0%, rgba(127, 161, 186, 0.02) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4adb7', endColorstr='#7fa1ba', GradientType=0)
}

.contactBlock {
    padding-bottom: 90px
}

.contactBlock h2 {
    font-size: 48px;
    color: #1b75ba;
    font-weight: 600;
    text-align: center;
    padding: 50px 0 0;
    margin-bottom: 70px
}

.formPlace {
    padding-left: 1rem
}

.formPlace h4 {
    color: #2e3545;
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 18px
}

.formPlace .wpcf7-form [type=submit] {
    width: auto;
    float: left;
    font-size: 11px;
    height: 20px;
    text-transform: uppercase;
    padding: 2px 33px;
    border-radius: 3px;
    margin-top: .5rem;
    color: #fff;
    background-image: -ms-linear-gradient(top, #1EACF9 0%, #116dc2 100%);
    background-image: -moz-linear-gradient(top, #1EACF9 0%, #116dc2 100%);
    background-image: -o-linear-gradient(top, #1EACF9 0%, #116dc2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1EACF9), color-stop(100, #116dc2));
    background-image: -webkit-linear-gradient(top, #1EACF9 0%, #116dc2 100%);
    background-image: linear-gradient(to bottom, #1EACF9 0%, #116dc2 100%)
}

.formPlace .wpcf7-form .styleInp,
.formPlace textarea {
    font-size: 11px;
    font-weight: 300;
    color: #babcbe;
    padding: 8px
}

.formPlace p {
    font-weight: 300;
    font-size: 17px;
    color: #6d6e70;
    margin-bottom: 1.5em
}

.formPlace button {
    float: left!important
}

.adresPlace h4 {
    color: #2e3545;
    font-weight: 800;
    font-weight: 900;
    font-size: 20px;
    padding-bottom: 17px
}

.adresPlace {
    margin-left: -1rem;
    color: #6d6e70;
    font-size: 17px;
}

.adresPlace div {
    font-weight: 300;
    font-size: 17px;
    color: #6d6e70
}

.push {
    padding: 17px 0 20px
}

.formPlace button {
    float: left!important
}

.adresPlace .mail {
    font-weight: 400;
    font-size: 17px;
    color: #1b75ba
}
.adresPlace p {
    margin-bottom: 1.5em;
}
.formPlace .wpcf7-form {
    margin: 0!important
}

.formPlace .wpcf7-form-control-wrap {
    display: block
}

.formPlace .wpcf7-form input,
.formPlace .wpcf7-form textarea {
    background: #f8f9fa;
    border: none;
    font-size: 11px;
    text-transform: uppercase;
    border-bottom: 1px solid #1eacf8;
    display: block;
    margin-bottom: 15px;
    width: 100%
}

.formPlace .wpcf7-form textarea {
    height: 90px
}

.adresPlace hr {
    display: none
}

.imgGroup {
    padding-top: 26px;
    position: relative;
    margin-top: 26px;
}

.imgGroup:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
    background: #1eacf8;
    width: 135px
}

.imgGroup a+a {
    margin-left: 9px
}

.imgGroup img:first-child {
    padding: 0
}

.btnBlock3 {
    position: relative;
    height: 400px;
    background-image: url(../img/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.btnBlock3 .hww-inner {
    position: absolute;
    width: 800px;
    left: 50%;
    height: 100%;
    max-height: 100%;
    top: 0;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.btnBlock3 h2 {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    left: 0;
    padding-top: 71px;
    width: 100%;
    text-align: center;
    position: static;
    margin-bottom: 70px
}

.btnBlock3 a {
    font-family: lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .15);
    position: relative;
    padding: 0;
    width: 222px;
    max-width: 100%;
    text-align: center;
    line-height: 33px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 8px;
    background: #1eacf9;
    background: -moz-linear-gradient(top, rgba(30, 172, 249, 1) 0%, rgba(13, 89, 176, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(30, 172, 249, 1) 0%, rgba(13, 89, 176, 1) 100%);
    background: linear-gradient(to bottom, rgba(30, 172, 249, 1) 0%, rgba(13, 89, 176, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1eacf9', endColorstr='#0d59b0', GradientType=0);
    margin: 0 auto;
    display: block
}

.btnBlock3 a:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    bottom: -1px;
    left: 0;
    position: absolute;
    box-shadow: 0 0 11px 2px rgba(255, 255, 255, 0.2)
}

.frontFoto4 {
    height: 770px;
    width: 100%;
    background-image: url(../img/client.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.frontFoto4 .gra {
    position: relative;
    top: 0;
    left: 0;
    width: 100%
}

.frontFoto4 .color4 {
    background: #38a8e6;
    background: -moz-linear-gradient(left, rgba(56, 168, 230, 0.7) 0%, rgba(11, 73, 143, 0.8) 100%);
    background: -webkit-linear-gradient(left, rgba(56, 168, 230, 0.7) 0%, rgba(11, 73, 143, 0.8) 100%);
    background: linear-gradient(to right, rgba(56, 168, 230, 0.7) 0%, rgba(11, 73, 143, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38a8e6', endColorstr='#0b498f', GradientType=1);
    position: absolute;
    right: 0
}

.frontFoto4 p {
    color: #fff;
    font-weight: 100;
    font-size: 60px;
    padding: 131px 150px 145px 80px
}

.stageBlock {
    background: #f3f8fb;
    background: -moz-linear-gradient(top, rgba(243, 248, 251, 1) 0%, rgba(230, 243, 251, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(243, 248, 251, 1) 0%, rgba(230, 243, 251, 1) 100%);
    background: linear-gradient(to bottom, rgba(243, 248, 251, 1) 0%, rgba(230, 243, 251, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f8fb', endColorstr='#e6f3fb', GradientType=0)
}

.stageBlock>.container {
    width: 100%;
    max-width: 1170px
}

.stageBlock h1 {
    color: #1b75ba;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    padding-top: 66px;
    margin-bottom: 55px
}

.stageItem h4 {
    color: #2e3545;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 18px;
    margin-right: 40px
}

.stageItem {
    color: #6d6e70;
    font-size: 18px;
    font-weight: 300;
    box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.14)
}

.stageItem .stageItem-text {
    padding: 31px 25px 1px
}

.stageBlock .inner {
    padding-top: 417px;
    padding-bottom: 79px;
    background: url(../img/stage.png) no-repeat center top;
    position: relative;
    margin-left: 3px
}

.stageItem {
    background: #fff;
    height: 100%;
    max-width: 354px;
    margin-left: 2px
}

.btnBlock4 {
    position: relative;
    height: 476px;
    background-image: url(../img/ofice.png);
    background-size: cover;
    background-repeat: no-repeat
}

.btnBlock4 a {
    font-family: lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .15);
    position: relative;
    padding: 0;
    width: 307px;
    max-width: 100%;
    text-align: center;
    line-height: 37px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 8px;
    background: #1eacf9;
    background: -moz-linear-gradient(top, rgba(30, 172, 249, 1) 0%, rgba(13, 89, 176, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(30, 172, 249, 1) 0%, rgba(13, 89, 176, 1) 100%);
    background: linear-gradient(to bottom, rgba(30, 172, 249, 1) 0%, rgba(13, 89, 176, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1eacf9', endColorstr='#0d59b0', GradientType=0);
    margin: 0 auto 15px;
    display: block
}

.btnBlock4 a:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    bottom: -1px;
    left: 0;
    position: absolute;
    box-shadow: 0 0 11px 2px rgba(255, 255, 255, 0.2)
}

.btnBlock4 .div {
    color: #fff;
    font-size: 20px;
    font-family: Open Sans, Arial, sans-serif;
    font-weight: 300;
    display: block;
    text-align: center;
    margin-bottom: 7px
}

.btnBlock4 .arrDown {
    text-align: center;
    transform: rotate(180deg);
    fill: #fff;
    margin: 0 auto
}

.btnBlock4 .arrDown>svg {
    height: 25px
}

.frontFoto5 {
    height: 770px;
    width: 100%;
    background-image: url(../img/dor.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.frontFoto5 .gra {
    position: relative;
    top: 0;
    left: 0;
    width: 100%
}

.frontFoto5 .color5 {
    background: #38a8e6;
    background: -moz-linear-gradient(left, rgba(56, 168, 230, 0.7) 0%, rgba(11, 73, 143, 0.8) 100%);
    background: -webkit-linear-gradient(left, rgba(56, 168, 230, 0.7) 0%, rgba(11, 73, 143, 0.8) 100%);
    background: linear-gradient(to right, rgba(56, 168, 230, 0.7) 0%, rgba(11, 73, 143, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#38a8e6', endColorstr='#0b498f', GradientType=1);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0
}

.frontFoto5 .color5 p {
    color: #fff;
    font-weight: 300;
    display: block;
    font-size: 60px;
    padding: 80px 0 90px;
    text-align: center
}

.compens {
    background: #f3f8fb
}

.compens h2 {
    font-weight: 600;
    font-size: 48px;
    color: #2e3545;
    text-align: center;
    padding: 109px 0 27px
}

.compens p {
    font-weight: 300;
    font-size: 22px;
    color: #6d6e70;
    padding-bottom: 184px
}

.compens .col-xs-8 {
    width: 67.66666%
}

.threeItem .threeItem-text h4 {
    color: #1b75ba;
    font-size: 20px;
    font-weight: 900;
    padding: 54px 0 22px
}

.threeItem .threeItem-text p {
    color: #6d6e70;
    font-size: 18px;
    font-weight: 300;
    padding-left: 10px
}

.content div+br {
    display: none
}

.threeItem .threeItem-text p:first-child {
    height: 145px
}

.threeItem .threeItem-text p:first-child img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto
}

.threeItem-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    -webkit-box-align: center
}

.threeItem {
    padding-bottom: 94px;
    margin-top: -67px
}

.threeItem .difer {
    padding-left: 0
}

.threeItem .difer h4 {
    padding: 54px 0 18px
}

.btnBlock5 {
    position: relative;
    height: 479px;
    background-image: url(../img/downFon.png);
    background-size: cover;
    background-repeat: no-repeat
}

.btnBlock5 h2 {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    left: 0;
    padding-top: 64px;
    width: 100%;
    text-align: center;
    position: static;
    margin-bottom: 104px
}

.btnBlock5 a {
    font-family: lato, sans-serif;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, .15);
    position: relative;
    padding: 0;
    width: 220px;
    max-width: 100%;
    text-align: center;
    line-height: 37px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 8px;
    background: #1eacf9;
    background: -moz-linear-gradient(top, rgba(30, 172, 249, 1) 0%, rgba(13, 89, 176, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(30, 172, 249, 1) 0%, rgba(13, 89, 176, 1) 100%);
    background: linear-gradient(to bottom, rgba(30, 172, 249, 1) 0%, rgba(13, 89, 176, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1eacf9', endColorstr='#0d59b0', GradientType=0);
    margin: 0 auto 24px;
    display: block
}

.btnBlock55 a:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    bottom: -1px;
    left: 0;
    position: absolute;
    box-shadow: 0 0 11px 2px rgba(255, 255, 255, 0.2)
}

.btnBlock5 .div {
    color: #fff;
    font-size: 20px;
    font-family: Open Sans, Arial, sans-serif;
    font-weight: 300;
    display: block;
    text-align: center;
    margin-bottom: 7px
}

.btnBlock5 .arrDown {
    text-align: center;
    transform: rotate(180deg);
    fill: #fff;
    margin: 0 auto
}

.btnBlock5 .arrDown>svg {
    height: 25px
}
.h1-404 {
    padding-top: 70px;
    margin-bottom: -14px;
    -webkit-box-pack: center;
-webkit-justify-content: center;
   -moz-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.icon-404-1 {
    height: 75px;
    width: 355px;
    margin: 0 20px;
}
.icon-404-2 {
    height: 271px;
    width: 631px;
    margin: 0 20px;
}
.row.bottom-404 {
    font-family: lato, sans-serif;
    font-weight: 100;
    color: #1b75b9;
    font-size: 48px;
    padding: 100px 0;
    background: #f1f7f9;
}

@media screen and (max-width: 1280px) {
    .navbar-inverse .navbar-nav>li>a {
        font-size: 1rem;
        padding: 30px 22px 33px 18px
    }

    .oneString h1 {
        font-size: 3.2rem;
        line-height: 9rem;
        padding: 0;
        margin: 0
    }

    .mainPageHeader #logo {
        margin-left: 15px
    }
}

@media screen and (max-width: 1024px) {
    .oneString h1 {
        font-size: 3rem;
        line-height: 8rem;
        padding: 0;
        margin: 0
    }

    .mainPageHeader #logo {
        margin-left: 0
    }

    .mainPageHeader .navbar-nav li {
        padding: 0 10px
    }
}

@media screen and (max-width: 992px) {
    .luckyBlock {
        background: none
    }

    .luckyBlock .luckyItems {
        display: block
    }

    .luckyBlock .luckyItems .num {
        width: 100%;
        background: #f6fcff;
        margin-bottom: 8px
    }

    .luckyBlock .luckyItems .img {
        padding: 20px 0 30px;
        margin-bottom: 49px
    }

    .luckyItems .luckyItem .img img {
        margin: 0 auto
    }

    .luckyItems .num .luckyItem-text {
        background: transparent
    }
    .icon-404-1 {
        height: 40px;
        width: 190px;
        margin: 0 20px;
    }
    .icon-404-2 {
        height: 130px;
        width: 315px;
        margin: 0 20px;
    }
}

@media screen and (max-width: 940px) {
    .mapWorld img {
        width: 69%
    }

    .parent {
        padding-top: 88px;
        /*height: 335px;*/
        height: auto;
    }

    .parent .item.item_2 {
        margin-left: 52px
    }

    .parent .item.item_1 {
        margin-left: 31px
    }

    .parent .item.item_3 {
        margin-left: 0
    }

    .onMapSec {
        margin-left: 255px
    }
}

@media screen and (max-width: 900px) {
    .mainPageHeader .navbar-nav li {
        padding: 0 5px
    }
}

@media screen and (max-width: 800px) {
    .mainPageHeader .navbar-nav li {
        padding: 9px 2px;
        display: block
    }
}

@media screen and (max-width: 767px) {
    .mainPageHeader .navbar-nav {
        float: none;
        margin: 0 auto;
        display: block
    }

    .menu-item {
        text-align: center
    }

    #nav-main ul li:last-child {
        padding-bottom: 30px
    }

    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: transparent;
        margin-top: 10px;
        position: absolute;
        background: #fff;
        width: 113%;
        left: -16px
    }

    .mainPageHeader .navbar-nav li {
        padding: 0
    }

    .navbar-inverse .navbar-nav>li>a {
        font-size: 12px;
        font-weight: 400;
        display: table;
        line-height: 35px;
        margin: 0 auto
    }

    .twiceBlock {
        display: block
    }

    .twiceBlock .col-img {
        display: none
    }

    .twiceBlock .rightText h2 {
        padding-top: 20px
    }

    .twiceBlock .rightText {
        padding-bottom: 25px
    }

    .mapWorld .title-block {
        font-size: 36px;
        width: 50%;
        margin: 0 auto 40px
    }

    .map__inner .parent {
        display: block;
        flex-direction: column;
        padding-top: 9px
    }

    .map__inner .parent .item {
        margin-left: 20px;
        float: none
    }

    .parent .item span {
        font-size: 60px
    }

    .parent .item h4 {
        font-size: 18px
    }

    .map-wrap {
        width: 100%;
        overflow-x: inherit
    }

    .map__img img {
        display: none
    }

    .map__img {
        width: auto
    }

    .map__inner {
        position: relative;
        width: auto;
        text-align: center;
    }

    .mapWorld {
        margin-bottom: 0;
        overflow: hidden
    }

    .mapWorld:after {
        background: url(../img/map-mobile.png);
        background-repeat: no-repeat;
        background-position: center 60px;
        position: absolute;
        content: "";
        display: block;
        top: 0;
        /*height: 800px;*/
        height: 100%;
        min-width: 100%;
        z-index: -1;
        right: -44px;
        left: 0
    }

    .onMapSec:after {
        background: url(../img/skobka.png);
        background-repeat: no-repeat;
        /*background-size: cover;*/
        -webkit-background-size: contain;
        background-size: contain;
        background-position: center top;
        content: "";
        position: absolute;
        display: block;
        /*bottom: 134px;*/
        left: 50%;
        margin-left: -140px;
        width: 280px;
        height: 31px;
        top: -48px;
    }

    body {
        overflow-x: hidden
    }

    .onMapSec {
        float: none;
        /*padding-top: 264px;*/
        margin-left: 0;
        max-width: 345px;
        text-align: center;
        position: relative
    }

    .navbar {
        margin: 0
    }

    .mainPageHeader #logo {
        margin-top: 11px
    }

    .mainPageHeader #logo img {
        height: 58px
    }

    .navbar-inverse .navbar-toggle {
        margin-top: 22px;
        margin-right: 0
    }

    .frontText {
        font-size: 28px;
        margin-left: 0;
        padding-top: 20px;
        padding-bottom: 20px
    }

    .navbar-header button {
        margin-top: 2.83%;
        margin-right: 4.73%
    }

    #nav-main ul {
        padding-left: 0;
        height: 503px
    }

    button.navbar-toggle[aria-expanded="true"] {
        padding-top: 20px
    }

    .navbar-inverse .navbar-nav>li>a {
        font-size: 12px;
        font-weight: 400;
        padding: 6px 8px 0!important
    }

    .container-baner {
        max-height: 443px
    }

    .twiceBlock .rightText h2 {
        font-size: 36px;
        padding: 48px 0 39px
    }

    .twiceBlock .rightText p {
        font-size: 18px;
        font-weight: 300
    }

    .twiceBlock .rightText {
        padding-bottom: 56px
    }

    .luckyBlock .luckyItems {
        flex-direction: column
    }

    .luckyBlock h1,
    .luckyBlock .h1 {
        font-size: 36px;
        padding-top: 18px;
        margin-bottom: 25px;
        margin-top: 0
    }

    .officeFoto {
        margin-bottom: 0
    }

    .luckyBlock {
        background: none
    }

    .luckyBlock .luckyItems .num {
        min-width: 100%;
        background: #f6fcff;
        margin-bottom: 8px
    }

    .luckyItems .luckyItem .img img {
        max-width: 26%!important;
        margin: 0 auto
    }

    .luckyItems .num .luckyItem-text {
        background: transparent
    }

    .luckyBlock .luckyItems .img {
        padding: 20px 0 30px;
        margin-bottom: 49px
    }

    .luckyItems .num .luckyItem-text p {
        font-size: 18px
    }

    .luckyBlock {
        margin-bottom: 0
    }

    .oneString h2 {
        line-height: 130px
    }

    .oneString .title-block {
        font-size: 36px
    }

    .twoPhoto .row_ {
        flex-direction: column
    }

    .twoPhoto p {
        text-align: left
    }

    .block-work-with .row_ .itm-ww .textPhoto>div {
        padding: 20px
    }

    .block-work-with .row_ .itm-ww .textPhoto {
        -webkit-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        bottom: 0;
        top: inherit
    }

    .bridgeOnFon .row {
        min-height: 562px
    }

    .bridgeTextOne {
        font-size: 16px;
        padding-bottom: 50px
    }

    .bridgeOnFon h2 {
        white-space: normal;
        text-align: center;
        padding-top: 30px;
        font-size: 36px
    }

    .map__inner .parent {
        display: flex;
        flex-direction: column;
        padding-top: 9px;
        display: inline-block;
        text-align: left;
    }

    .map__inner .parent .item {
        /*margin-left: 20px;*/
        margin-left: 0;
        width: 270px;
    }

    .parent .item span {
        font-size: 60px
    }

    .parent .item h4 {
        font-size: 18px
    }

    .map__img img {
        display: none
    }

    .mapWorld {
        position: relative;
        height: auto;
        overflow: hidden
    }

    .onMapSec {
        float: none;
        margin-left: auto;
        margin-right: auto;
        max-width: 297px;
        text-align: center;
        position: relative;
    }
    .onMapSec h2 {
        padding-bottom: 0;
        margin-bottom: 12px;
    }

    .block-parthners .list {
        flex-wrap: wrap;
        padding: 0 20px
    }

    .parthner-item {
        width: 40%;
        padding-bottom: 20px
    }

    .block-parthners {
        padding: 36px 0
    }

    .parthner-item:last-child {
        display: block;
        margin: 0 auto
    }

    .parthner-item+.parthner-item {
        border-left: none
    }

    .aboutInfo .copy {
        padding: 30px
    }

    .footer-top {
        padding: 0 15px
    }

    .frontFoto,
    .frontFoto2 {
        height: 445px;
        max-height: 100vh;
        height: calc(100vh - 80px);
        background-position: center top
    }

    .frontFoto2 .blueText,
    .frontFoto .blueText,
    .frontFoto5 .color5 {
        font-size: 36px;
        font-weight: 100;
        padding: 20px 15px;
        font-family: Lato, Arial, sans-serif
    }

    .frontFoto5 .color5 p {
        font: inherit;
        padding: 0
    }

    .compens h2,
    .compens h1 {
        font-size: 36px;
        padding-top: 1em
    }

    .compens .col-xs-8,
    .compens [class*="col"] {
        width: auto;
        margin: 0;
        float: none
    }

    .threeBlock {
        height: auto
    }

    .frontFoto .move {
        text-align: center;
        font-size: 36px;
        font-weight: 100;
        padding: 20px 15px
    }

    .aboutBlock .inner {
        margin-top: 0
    }

    h1 {
        font-size: 36px
    }

    .approachBlock,
    .contactBlock {
        background: #e8f7fe;
        background: -moz-linear-gradient(top, #e8f7fe 0%, #fff 100%);
        background: -webkit-linear-gradient(top, #e8f7fe 0%, #fff 100%);
        background: linear-gradient(to bottom, #e8f7fe 0%, #fff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8f7fe', endColorstr='#ffffff', GradientType=0);
        -webkit-background-size: 100% 380px;
        background-size: 100% 380px;
        background-repeat: no-repeat;
        background-position: center 0
    }

    .approachBlock .headItem h1 {
        font-size: 36px;
        padding-top: 30px;
        padding-bottom: 15px
    }

    .aboutBlock h1 {
        font-size: 36px
    }

    .aboutBlock .content {
        padding: 0
    }

    .aboutBlock .inner {
        background: transparent;
        float: none;
        margin: 0;
        width: auto;
        padding: 0 20px
    }

    .frontFoto .right-color-block {
        left: 0;
        right: 0;
        bottom: 0;
        top: auto;
        -webkit-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        margin: 0;
        padding: 20px 15px;
        font-size: 36px;
        font-weight: 100;
        text-align: center
    }

    .stageBlock h1 {
        font-size: 36px
    }

    .stageBlock .inner {
        display: block;
        padding-top: 0;
        background: transparent;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 30px
    }

    .stageBlock .inner>div {
        width: auto;
        float: none;
        margin-bottom: 30px
    }

    .stageBlock .inner .stageItem:before {
        content: '';
        display: block;
        height: 45px;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto
    }

    .stageItem {
        padding-top: 10px;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .stageBlock .inner > div:nth-child(1) .stageItem:before {
        background-image: url(../img/stage-1.png)
    }

    .stageBlock .inner > div:nth-child(2) .stageItem:before {
        background-image: url(../img/stage-2.png)
    }

    .stageBlock .inner > div:nth-child(3) .stageItem:before {
        background-image: url(../img/stage-3.png)
    }

    .stageItem .stageItem-text {
        padding-top: 10px
    }

    .stageItem h4 {
        margin: 0 auto 15px;
        color: #1b75ba;
        font-size: 20px
    }

    .btnBlock {
        height: auto
    }

    .btnBlock .hww-inner {
        position: relative;
        -webkit-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        left: 0;
        top: 0;
        width: auto;
        padding-bottom: 50px
    }

    .btnBlock h2 {
        font-size: 36px;
        margin-bottom: 60px;
        padding: 40px 40px 0
    }

    .approachBlock .headItem div {
        font-size: 20px
    }

    .parBlock-row {
        display: block
    }

    .approachBlock .childItem {
        padding-bottom: 30px
    }

    .approachBlock .childItem:after {
        display: none
    }

    .threeItem {
        margin-bottom: 30px
    }

    .threeItem:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 130px;
        background: #f3f8fb;
        top: -28px;
        z-index: -1
    }

    .threeItem .threeItem-text h4 {
        padding-top: 20px
    }

    .frontFoto3 .smile {
        font-size: 36px;
        font-family: 'lato', sans-serif;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px
    }

    .contactBlock .container {
        padding-left: 20px;
        padding-right: 20px
    }

    .contactBlock h2,
    .contactBlock h1 {
        font-size: 36px;
        padding-top: 30px;
        /*margin-bottom: 30px;*/
        margin-bottom: 42px;
    }

    .adresPlace,
    .formPlace {
        margin: 0 auto;
        padding: 0
    }
    .formPlace {
        margin-bottom: 70px;
    }
    .adresPlace h4 {
        padding-bottom: 0;
    }
    .adresPlace p {
        margin-bottom: 1.3em;
    }
    .adresPlace {
        font-size: 17px;
        font-weight: 100;
    }
    .adresPlace a {
        font-weight: 400;
    }

    .formPlace .wpcf7-form [type=submit] {
        float: right
    }

    .imgGroup {
        padding-top: 40px;
    }
    .imgGroup:before {
        width: 100%
    }
    .imgGroup img {
        height: 47px;
        width: auto;
    }
    .formPlace .wpcf7-form .styleInp, .formPlace textarea {
        padding: 9px 8px;
        /*color: #babcbe;*/
    }
    .h1-404 {
        margin-bottom: 0;
    }
    .icon-404-1 {
        height: 20px;
        width: 90px;
        margin: 0 10px;
    }
    .icon-404-2 {
        height: 65px;
        width: 155px;
        margin: 0 0px;
    }
    .row.bottom-404 {
        font-size: 36px;
        padding: 50px 0;
    }
}